.div {
text-align: center;
font-size: small;
}

img{
    display: block;
    margin: 0 auto;
    width: 55%;
}

.error-output{
    margin-left: 10px;
    font-size: 18px;
    font-style: italic;
    color: red;
}